<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Character Added</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body class = "main">
    <%- include('header') %>
    <h1 style = "margin-top:30px;margin-bottom:10px;">Character Added</h1>
    <div class = "center">
      <h2>Name: </h2><h2><%- name %></h2><br />
      <h2>Gender: </h2><h2><%- gender %></h2><br />
      <h2>Age: </h2><h2><%- age %></h2><br />
      <h2> Anime:  </h2> <h2><%- anime %></h2><br />
    </div>
    
  </body>

  
</html>
